<h1>Analytics</h1>

<!-- Total Appointments and Revenue -->
<div class="row mt-5">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Toplam Randevu Sayısı</h5>
                <p class="card-text">@ViewBag.TotalAppointments</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bu Haftaki Randevu Sayısı</h5>
                <p class="card-text">@ViewBag.WeeklyAppointments</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bu Ayki Randevu Sayısı</h5>
                <p class="card-text">@ViewBag.MonthlyAppointments</p>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Toplam Hasılat</h5>
                <p class="card-text">@ViewBag.TotalRevenue ₺</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bu Haftaki Toplam Hasılat</h5>
                <p class="card-text">@ViewBag.WeeklyRevenue ₺</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bu Ayki Toplam Hasılat</h5>
                <p class="card-text">@ViewBag.MonthlyRevenue ₺</p>
            </div>
        </div>
    </div>
</div>

<!-- Popular Services -->
<h2 class="mt-5">Populer Servisler</h2>
<h3 class="mt-5">Toplam</h3>
@if (ViewBag.popularServices != null && ((IEnumerable<dynamic>)ViewBag.popularServices).Any())
{
    <table class="table mt-2">
        <thead>
            <tr>
                <th>Servis</th>
                <th>Rezervasyon Sayısı</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var service in ViewBag.popularServices)
            {
                <tr>
                    <td>@service.ServiceName</td>
                    <td>@service.Bookings</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No data available for popular services.</p>
}


<h3 class="mt-5">Bu Hafta</h3>
@if (ViewBag.WeeklyPopularServices != null && ((IEnumerable<dynamic>)ViewBag.WeeklyPopularServices).Any())
{
    <table class="table mt-2">
        <thead>
            <tr>
                <th>Servis</th>
                <th>Rezervasyon Sayısı</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var service in ViewBag.WeeklyPopularServices)
            {
                <tr>
                    <td>@service.ServiceName</td>
                    <td>@service.Bookings</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No data available for popular services this week.</p>
}

<h3 class="mt-5">Bu Ay</h3>
@if (ViewBag.MonthlyPopularServices != null && ((IEnumerable<dynamic>)ViewBag.MonthlyPopularServices).Any())
{
    <table class="table mt-2">
        <thead>
            <tr>
                <th>Servis</th>
                <th>Rezervasyon Sayısı</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var service in ViewBag.MonthlyPopularServices)
            {
                <tr>
                    <td>@service.ServiceName</td>
                    <td>@service.Bookings</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No data available for popular services this month.</p>
}

<!-- Staff Performance -->
<h2>Çalışan Performansı</h2>

<h3 class="mt-5">Toplam</h3>
@if (ViewBag.staffPerformance != null && ((IEnumerable<dynamic>)ViewBag.staffPerformance).Any())
{
    <table class="table mt-2">
        <thead>
            <tr>
                <th>Çalışan</th>
                <th>Rezervasyon Sayısı</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var staff in ViewBag.staffPerformance)
            {
                <tr>
                    <td>@staff.StaffName</td>
                    <td>@staff.Appointments</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No data available for staff performance this week.</p>
}

<h3 class="mt-5">Bu Hafta</h3>
@if (ViewBag.WeeklyStaffPerformance != null && ((IEnumerable<dynamic>)ViewBag.WeeklyStaffPerformance).Any())
{
    <table class="table mt-2">
        <thead>
            <tr>
                <th>Çalışan</th>
                <th>Rezervasyon Sayısı</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var staff in ViewBag.WeeklyStaffPerformance)
            {
                <tr>
                    <td>@staff.StaffName</td>
                    <td>@staff.Appointments</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No data available for staff performance this week.</p>
}

<h3 class="mt-5">Bu Ay</h3>
@if (ViewBag.MonthlyStaffPerformance != null && ((IEnumerable<dynamic>)ViewBag.MonthlyStaffPerformance).Any())
{
    <table class="table mt-2">
        <thead>
            <tr>
                <th>Çalışan</th>
                <th>Rezervasyon Sayısı</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var staff in ViewBag.MonthlyStaffPerformance)
            {
                <tr>
                    <td>@staff.StaffName</td>
                    <td>@staff.Appointments</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No data available for staff performance this month.</p>
}
